<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>

<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0"><%=translation.Messages%></h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);"><%=translation.Messages%></a>
          </li>
          <li class="breadcrumb-item active"><%=translation.Messages%></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<%- include ('../Partials/FlashMessage') %> <% if (message && message.length > 0) { %>
<ul class="errors">
  <%= message %>
</ul>
<% } %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
            <div class="search-box me-2 mb-2 d-inline-block">
              <div class="position-relative">
                <form method="get" action="/messages" class="row flex-row flex-nowrap">
                  <input
                    type="text"
                    class="form-control col-8 inputSearch"
                    id="inputSearch"
                    name="key"
                    placeholder="Search..."
                    style="height: 40px"
                  />
                  <input
                    type="submit"
                    value="search"
                    class="btn btn-success waves-effect waves-light mb-2 me-2 col-4 ms-2"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table align-middle table-nowrap table-check">
            <thead class="table-light">
              <tr>
                <th style="width: 20px" class="align-middle">
                  <div class="form-check font-size-16">
                    <input class="form-check-input" type="checkbox" id="checkAll" />
                    <label class="form-check-label" for="checkAll"></label>
                  </div>
                </th>
                <th class="align-middle" style="width: 10%">Date message</th>
                <th class="align-middle" style="width: 30%">Name</th>
                <th class="align-middle" style="width: 30%">Email</th>
                <th class="align-middle" style="width: 20%">Read</th>
                <th class="align-middle">Action</th>
              </tr>
            </thead>
            <tbody>
              <%- contentFor('body') %> <% messages.forEach(function(message) { %>
              <tr>
                <td>
                  <div class="form-check font-size-16">
                    <input class="form-check-input" type="checkbox" id="orderidcheck01" />
                    <label class="form-check-label" for="orderidcheck01"></label>
                  </div>
                </td>
                <td><b><%= message.createdAt %></b></td>
           
                <td>
                  <b><%= message.name %> 
                </td>

                <td>
                  <%= message.from %>
                </td>

                <td>
                  <% if (message.read) { %>
                    Yes
                  <% } else { %>
                    No
                  <% } %>
                  
                </td>
              
                <td>
                  <div class="d-flex gap-1">
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                        <a
                          href="/message/<%= message._id %>"
                          class="px-2 text-primary"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Detail"
                          ><i class="bx bx-detail font-size-22"></i
                        ></a>
                      </li>

                      <li class="list-inline-item">
                        <form
                          id="deleteForm<%= message._id %>"
                          method="post"
                          action="/message/delete/<%= message._id %>"
                        >
                          <a
                            href="javascript:deleteMessage('<%= message._id %>')"
                            id="deleteLink<%= message._id %>"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Delete"
                            ><i class="bx bx-trash font-size-22 red"></i
                          ></a>
                        </form>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <%- include('./../Partials/Pagination', { totalPages, currentPage, limit, page, pageName:'messages' }) %>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>

<script>
  document.addEventListener('load', function () {
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

    const form = document.querySelector('#search-form');
    const queryInput = document.querySelector('#inputSearch');
    const resultsList = document.querySelector('#results');

    form.addEventListener('submit', (event) => {
      event.preventDefault();

      const query = queryInput.value;

      fetch(`/search?query=${query}`)
        .then((response) => response.json())
        .then((data) => {
          resultsList.innerHTML = '';
          data.forEach((result) => {
            const listItem = document.createElement('li');
            listItem.textContent = result.name;
            resultsList.appendChild(listItem);
          });
        })
        .catch((error) => console.error(error));
    });
  });
</script>
