<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>

<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0">Change password</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Users</a>
          </li>
          <li class="breadcrumb-item active">Change password</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<%- include ('../Partials/FlashMessage') %>
<%- contentFor('body') %> <% if (message && message.length > 0) { %>
<ul class="errors">
  <%= message %>
</ul>
<% } %>

<div class="row">
  <div class="col-12">
    <div class="card">
    

      <form method="post" action="/passwordMe">
        <div class="card-body">
          <div class="mb-3 row">
            <label for="example-text-input" class="col-md-12 col-form-label">
              <%= formData.name %> <%= formData.surname %>
            </label>
          </div>

          <div class="mb-3 row">
            <label for="example-text-input" class="col-md-2 col-form-label">
              New password<b style="color: red">*</b>
            </label>
            <div class="col-md-10">
              <input
                class="form-control"
                type="password"
                name="password"
                required
              />
            </div>
          </div>

          <div class="mb-3 row">
            <label for="example-text-input" class="col-md-2 col-form-label">
              Password confirmation<b style="color: red">*</b>
            </label>
            <div class="col-md-10">
              <input
                class="form-control"
                type="password"
                name="passwordConfirm"
                required
              />
            </div>
          </div>

          <div class="mb-3 row">
            <label for="example-text-input" class="col-md-2 col-form-label">
              Old password<b style="color: red">*</b>
            </label>
            <div class="col-md-10">
              <input class="form-control" type="password" name="oldPassword" />
              <input
                class="form-control"
                type="hidden"
                name="passwordResetToken"
                value="<%= formData && formData.passwordResetToken ? formData.passwordResetToken : '' %>"
                required
              />
            </div>
          </div>

          <div class="mt-4 row">
            <label for="example-text-input" class="col-md-2 col-form-label">
            </label>
            <div class="col-md-10">
              <button type="submit" class="btn btn-primary w-md">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="/assets/js/pages/form-editor.init.js"></script>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
